.replyItem {
    border: 1px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 100px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.replyItem>div {
    margin: 5px;
}