<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!-- MEMBER 테이블의 데이터를 Member Vo로 옮겨주는 resultMap -->
	<resultMap id="memberResultSet" type="member">
		<id column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="EMAIL" property="email" />
		<result column="GENDER" property="gender" />
		<result column="AGE" property="age" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
	</resultMap>

	<!-- 회원목록조회용 쿼리문 -->
	<select id="selectMemberList" resultMap="memberResultSet">
		SELECT USER_ID
	         , USER_NAME
	         , EMAIL
	         , GENDER
	         , AGE
	         , ENROLL_DATE
	         , STATUS
		  FROM MEMBER
		 WHERE USER_ROLE = 'USER'
		 ORDER BY USER_ID ASC
	</select>
	
	<!-- 회원상세조회용 쿼리문 -->
	<select id="selectMember" parameterType="string" resultMap="memberResultSet">
		SELECT USER_ID
		        , USER_NAME
		        , EMAIL
		        , GENDER
		        , AGE
		        , PHONE
		        , ADDRESS
		        , ENROLL_DATE
		        , STATUS
		  FROM MEMBER
		 WHERE USER_ID = #{userId}
		    AND USER_ROLE = 'USER'
	</select>
	
	<!-- 회원정보수정용 쿼리문 -->
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		    SET USER_NAME = #{userName}
		       , EMAIL = #{email}
		       , GENDER = #{gender}
		       , AGE = #{age}
		       , PHONE = #{phone}
		       , ADDRESS = #{address}
		       , MODIFY_DATE = SYSDATE
		 WHERE USER_ID = #{userId}
	</update>
	
	<!-- 회원삭제용 쿼리문 -->
	<update id="deleteMember" parameterType="string">
		 UPDATE MEMBER
		    SET STATUS = 'N'
		      , MODIFY_DATE = SYSDATE
		    WHERE USER_ID = #{userID}
	</update>

</mapper>
