.footer-area {
    width : 1200px;
    height : 200px;
    margin : auto;
}

.footer-area>div {
    margin-top : 10px;
    margin-bottom : 10px;
}

.footer-area a {
    color : black;
    text-decoration : none;
    font-size : 17px;
}

#footer_2 {
    font-size : 15px;
    color : gray;
}

#footer_3 {
    font-size : 13px;
    text-align : center;
    color : gray;
}