h1 {
    text-align: center;
}

.navi {
    background-color: black;
    height: 50px;
    text-align: center;
}

.navi>div {
    font-weight: 600;
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
}

/* link a태그로 css 주기 */
.navi>div a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.navi>div:hover {
    background-color: lightgray;
    cursor: pointer;
}